body {
  font-family: 'Kanit', sans-serif;
}

.bg {
  height: 1000px;
  padding: 10px;
  background: linear-gradient(to bottom right, #363b00, #103b74, #1069a2, #3d078b);
}

.bg {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.category-card {
  background-color: #fff;
  border-radius: 4px;
  width: 350px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 24px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-icon-container {
  height: 80px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}


.category-name {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn20 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

@media (min-width: 768px) {
  .category-card {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .category-card {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}